.register-container {
    display: flex;
    flex-grow: 1;
    height: 300px;
    margin: 50px 15% 0 15%;

    outline: 4px solid black;
    border-radius: 4px;
    background-color: grey;

    min-width: 400px;
}

.form-container {
    background-color: purple;
    
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;

    flex-grow: 1;
    gap: 50px; 
}

.form-container > .form-field {
    display: flex;
    justify-content: right;
    margin: 0 50px 0 0;
}

.form-container > .form-field > input {
    border: 0;
    outline: 2px solid black;
}

.form-container > div > label {
    margin-left: 10%;
}

.form-container > div > input {
    outline: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
    width: calc(80% - 100px);

}

.form-footer {
    display: flex;
    justify-content: space-evenly;
}

.form-footer > * {
    border: 0px;
    outline: 2px solid black;
    color: black;
    background-color: white;
    width: 100px;
    text-align: center;
    cursor: pointer;
}