.header-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
}

.header-logo {
    flex: 20%;
    background-color: black;    
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.header-title {
    flex: 60%;
    color: red;
    text-decoration: dashed;
    text-decoration-line: underline;
    text-decoration-color: red;
    background-color: purple;
    font-size: 40px;
    flex-grow: 1;
    min-width: 300px;
}

.header-user-details {
    flex: 20%;
    display: flex;
    justify-content: space-evenly;
}

.header-user-details > * {
    color: white;
}